@page
@model IndexModel
@{
    ViewData["Title"] = "Mascota Feliz";
}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./Img/favicon.ico"> 
    <title>Mascota Feliz</title>
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Share+Tech&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="container">
        <nav>
                <img src="Img/logo.jpg.png" alt="" class="logo">
        </nav>
        <header>
            <h1>¡BIENVENIDOS!</h1>
            <h2>Somos Mascota Feliz, tu veterinaria de confianza.</h2>
            <p> Visitanos en:</p>
            <button   type="button" href="info.html" target="_blank">
                Cra. 15 #78-33.
                <img src="./Img/icono2.svg" alt="">
            </button>
             <div class="persona"></div>
        </header>
        <div class="icons">
            <i class='bx bxl-facebook'></i>
            <i class='bx bxl-instagram' ></i>
            <i class='bx bxl-whatsapp' ></i>
        </div>
    </div>
    </div>
</body>
</html>
