@page
@model MascotaFeliz.App.Frontend.Pages.EditarDuenosModel
@{  
    <link rel="stylesheet" href="~/css/Style.css" />
    int duenoId = Model.dueno.Id;
}
<body class="imagenDueno">
<div class="form-registerD">
<h2>Agregar o editar dueños </h2>

<form method="post">
    <div class="form-group">
        <input type="hidden" asp-for ="dueno.Id"/>
        <label asp-for="dueno.Nombres"></label>
        <input asp-for="dueno.Nombres" class="form-control">
        <label asp-for="dueno.Apellidos"></label>
        <input asp-for="dueno.Apellidos" class="form-control">
        <label asp-for="dueno.Direccion"></label>
        <input asp-for="dueno.Direccion" class="form-control">
        <label asp-for="dueno.Telefono"></label>
        <input asp-for="dueno.Telefono" class="form-control">
        <label asp-for="dueno.Correo"></label>
        <input asp-for="dueno.Correo" class="form-control">
        
        <button type="submit" class="btn btn-primary"><i class="fas fa-fw fa-save" title="Guardar"></i></button>
        <a class = "btn btn-primary table-btn" asp-page="./Listaduenos" class="btn-default"><i class="fas fa-fw fa-undo-alt" title="Regresar"></i></a>
    </div>
</form>
</div>
</body>


