* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

    .imagenMascota {
        background-image: url('./Img/fondo_regisM.jpg'); 
        background-size: cover;
        height: 50%;
        position: relative;
      }

      .imagenDueno {
        background: url('./Img/fondo_regdueno.jpeg'); 
        background-size: cover;
        height: 50%;
        position: relative;
      }
      .imagenVeterinario {
        background: url('./Img/fondo_regveterinario.jpeg'); 
        background-size: cover;
        height: 50%;
        position: relative;
      }
h2{
  color:#2CCAAE;
}
      .form-registerM {
        width: 400px;
        height: 560px;
        background: rgb(243, 241, 241);
        padding: 30px;
        margin: auto;
        margin-top: 30px;
        border-radius: 4px;
        font-family: 'calibri';
        color: black;
        box-shadow: 7px 13px 37px solid white;
        left: -390px;
        position: relative;
      }
  
  .form-registerD {
    width: 400px;
    height: 500px;
    background: #e6e6e6cb;
    padding: 30px;
    margin: auto;
    margin-top: 30px;
    border-radius: 4px;
    font-family: 'calibri';
    color: black;
    box-shadow: 7px 13px 37px white solid;
    left: 420px;
    position: relative;
  }

  .form-registerV {
    width: 400px;
    height: 535px;
    background: #e6e6e6cb;
    padding: 30px;
    margin: auto;
    margin-top: 30px;
    border-radius: 4px;
    font-family: 'calibri';
    color: black;
    box-shadow: 7px 13px 37px white solid;
    left: -390px;
    position: relative;
  }
  
    h4 {
    font-size: 22px;
    margin-bottom: 20px;
  }
  
  .controls {
    width: 100%;
    background: white;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid black;
    font-family: 'calibri';
    font-size: 18px;
    color:black;
  }
  
  .form-register p {
    height: 30px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
  }
  
  .form-register a {
    color: white;
    text-decoration: none;
  }
  
  .form-register a:hover {
    color: white;
    text-decoration: underline;
  }
  
  .form-registerM .btn-primary {
    width: 25%;
    background: 0;
    border: 2px solid black;
    padding: 12px;
    color: black;
    margin: 16px 0;
    font-size: 16px;
    cursor: pointer;
    transition: all .3s;
    border-radius: 7px;
  }

   .form-registerD .btn-primary {
  width: 25%;
  background: 0;
  border: 2px solid black;
  padding: 12px;
  color: black;
  margin: 16px 0;
  font-size: 16px;
  cursor: pointer;
  transition: all .3s;
  border-radius: 7px;
}
.form-registerV .btn-primary {
  width: 25%;
  background: 0;
  border: 2px solid black;
  padding: 12px;
  color: black;
  margin: 16px 0;
  font-size: 16px;
  cursor: pointer;
  transition: all .3s;
  border-radius: 7px;
}

.btn-primary:hover {
    background: #2CCAAE;
    border: #2CCAAE;
    color: #fff;
    
}




